@import url(http://weloveiconfonts.com/api/?family=brandico);

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
    font-size: 15px;
    background-color: rgb(251,248,244);
    color: rgb(87,88,91);
}

body {
   	-moz-background-size: 100% 100%;
 	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 100%;
    background-repeat:no-repeat;
}

.arc_body {
	background-image: url('../img/arc.png');
}

.hotel_body {
	background-image: url('../img/hotel.png');
}

.river_body {
	background-image: url('../img/river.png');
}

.container {

}

.wrap {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

.header {
	padding-top: 5%;
}

.logo {
	width: 30%;
	float: left;
}

.social {
	width: 70%;
	float: right;
	text-align: right;
	font-size: 22px;
}

.socialwhite a {
	color: white !important;
}

.social a {
	text-decoration: none;
	color: rgb(87,88,91);
}

.social ul {
	list-style-type: none;
	padding-left: 0;

}

.social li {
    padding-left: 1%;
    display : inline-block;
}

.social ul.li {
	display: inline-block;
}


.body {
	overflow: auto;
}

.navmenu {
	width: 30%;
	padding-right: 5%;
	padding-top: 5%;
	float: left;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
}

.navmenu a {
	color: black;
	text-decoration: none;
}

.navmenu a {
	color: black;
	text-decoration: none;
}

.navmenu ul {
	list-style-type: none;
	padding-left: 0;
}

.navmenu ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom: 2px solid black; 
}

.navmenu ul li:hover {
	background: black;
}

.navmenu ul li:hover a {
	color: rgb(18,215,200) !important;
}

.navmenu ul:last-child {
	border-bottom: 0px;
}

.navwhite a {
	color: white !important;
}

.navwhite ul li {	
	border-bottom: 2px solid white; 
}


.content {

	width: 65%;
	text-align: left;
	float: right;
}

.content a {
	color: black;
}
