
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/arca.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body class="arc_body">
    <div class="container">
      
      <section class="header wrap"> 
        <div class="logo">
            <p>arca</p>
            <p>Archivo Regional de Cine Amateur</p>
        </div>
        <div class="social">
          <ul>
            <li><a href="http://twitter.com">T</a></li>
            <li><a href="http://www.facebook.com">F</a></li>
            <li><a href="http://vimeo.com">V</a></li>
          </ul>
        </div>
      </section>

      <section class="body wrap">
        <div class="navmenu">
          <ul>
              <li><a href="acerca-de-arca.html">acerca de arca</a></li>
              <li><a href="dia-de-las-peliculas-familiares.html">dia de las peliculas familiares</a></li>
              <li><a href="sedes-itinerantes.html">sedes itinerantes</a></li>
              <li><a href="peliculas-encontradas.html">peliculas encontradas</a></li>
              <li><a href="links.html">links</a></li>
              <li><a href="contacto.html">contacto</a></li>
              <li><a href="novedades.html">novedades</a></li>
          </ul>
        </div>
        <div class="content">
          {{content}}
        </div>
      </section>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>
